# dependencies
/node_modules
/.pnp
.pnp.*

# editors
/.idea/

# next.js
/.next/
/out/

# production
/build

# local env files
.env*
!.env.example

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
